.github export-ignore
wiki export-ignore
screenshots export-ignore
test export-ignore
ISSUE_TEMPLATE.md export-ignore
TODO.md export-ignore
satisfaction.png export-ignore
satisfaction.xml export-ignore
tools export-ignore

